# editor files
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
.hbuilderx
*.suo
*.sln
*.sw?
*.ntvs*
*.njsproj

# log files
*.log
logs/*
!logs/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# test files
coverage
/cypress/videos/
/cypress/screenshots/
/tests/e2e/videos/
/tests/e2e/screenshots/

# local files
*.local

# build files
yarn.lock
pnpm-lock.yaml
package-lock.json
node_modules
dist-ssr
dist

# project files
#config.ts
